@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
@import "tailwindcss";

* {
  scrollbar-width: thin;
  scrollbar-color: var(--accent-primary) var(--bg-secondary);
}

html[dir="rtl"] * {
  font-family: "Tajawal", sans-serif;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-secondary);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-primary);
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--accent-secondary);
}

::-webkit-scrollbar-corner {
  background-color: var(--bg-secondary);
}

*:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

body {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
}

[dir="rtl"] .slick-track {
  direction: rtl;
}

@keyframes borderMove {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

.animate-border {
  background: linear-gradient(
    90deg,
    var(--bg-gradient),
    transparent,
    var(--bg-gradient)
  );
  background-size: 200% 100%;
  animation: borderMove 2s linear infinite;
}
